:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-raidus: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* typorgraphy */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
img {
  width: 100%;
  display: block;
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}
.link-arrow:hover::after {
  margin-left: 9px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Badges */

.badge {
  border-radius: 20px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background-color: var(--color-primary);
}
.badge--secondary {
  background-color: var(--color-secondary);
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* Lists */
.list {
  list-style: none;
  padding-left: 2rem;
}
.list__item {
  color: var(--color-headings);
}
.list--inline .list__item {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--inline .list__item {
    font-size: 1.5rem;
  }
  .list--tick .list__item {
    font-size: 1.8rem;
    padding: 0;
  }
}
/* Icon */
.icon-container {
  height: 64px;
  width: 64px;
  background-color: #f3f9fa;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--accent {
  fill: red;
}
/* Buttons */
.btn {
  border-radius: 10rem;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
  transition: background-color 0.15ss;
}
.btn--primary:hover {
  background-color: #4193fd;
}
.btn--secondary {
  color: #fff;
  background-color: var(--color-secondary);
  transition: background-color 0.15s;
}
.btn--secondary:hover {
  background-color: #33ddfb;
}
.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
  transition: background-color 0.15s;
}
.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
}
.btn--accent {
  color: #ffffff;
  background-color: var(--color-accent);
  transition: background-color 0.15s;
}
.btn--accent:hover {
  background-color: #f75a31;
}
.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}
/* Inputs */
.input {
  border-radius: var(--border-raidus);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 2rem 3.5rem;
}
.input::placeholder {
  color: #cbcc;
}
.input-group {
  display: flex;

  border: 1px solid var(--color-border);
  border-radius: 50px;
}
.input-group .input {
  flex-grow: 1;
  border: none;
  padding-left: 1rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* Card */
.card {
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 14px;
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #ffffff;
}

/* Plans */
.plan__name {
  margin-top: 0;
  color: #fff;
  font-weight: 500;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 80%;
  margin-right: 1.5rem;
}
.card--secondary .badge--secondary {
  background-color: #02cdf1;
}
.card .badge {
  position: relative;
  bottom: 5px;
}
.plan__description {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1px;
  display: block;
}
.card .card__body .list__item {
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}
.card__popular {
  position: relative;
  margin-top: 6px;
}
.card__popular::before {
  content: url(/images/popular.svg);
  width: 40px;
  position: absolute;
  display: inline-block;
  right: 5%;
  top: -6px;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .card .badge,
  .plan__billing-cycle {
    position: relative;
    bottom: 12px;
  }
  .plan__description {
    font-size: 1.7rem;
  }
  .card .card__body .list__item {
    margin-bottom: 1.5rem;
  }
}
/* Media */
.media {
  display: flex;
}
.media__image {
  margin-top: 0.5rem;
}
.media__body {
  margin-left: 2rem;
}
.media__title {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 1rem;
}
.media__body p {
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .media__title,
  .media__body p {
    font-size: 1.8rem;
  }
}
/* Quotes */
.quote {
  color: var(--color-body-darker);
  line-height: 1.3;
  font-style: italic;
  font-size: 3rem;
  letter-spacing: -1px;
  word-spacing: 2px;
}
.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}
.quote__author {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}
.quote__organization {
  color: var(--color-headings);
  font-size: 2rem;
  opacity: 40%;
  font-style: normal;
}
.media__line {
  position: relative;
  bottom: 10px;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Navigation Bar
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.nav__brand {
  width: 150px; 
  transform: translateY(5px);
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .nav__list {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
  }
  .nav__item {
    padding: 0.5rem 2rem;
  }
} */
