<div class="collapsible">
  <div class="callapsible__header">
    <h2 class="collapsible__heading">PRODUCTS</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis omnis
    consectetur distinctio doloribus enim?
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis omnis
    consectetur distinctio doloribus enim?
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis omnis
    consectetur distinctio doloribus enim?
  </div>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis omnis
    consectetur distinctio doloribus enim?
  </div>
</div>
