<div>
  <div class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque deleniti
      corporis temporibus eligendi debitis aut explicabo voluptatibus, officiis
      animi repellat suscipit ducimus eaque itaque unde rerum deserunt sapiente
      nihil assumenda dolor, voluptatum nostrum? Deserunt ducimus neque amet
      beatae vitae dolorem!
    </p>
    <footer>
      <div class="media">
        <div class="qoute__line">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Jhone Lumeo</h3>
          <p class="quote__organization">Mosh Company ceo</p>
        </div>
      </div>
    </footer>
  </div>
</div>
