<section class="block block__containter block-domain">
  <header class="block__header">
    <h2 class="">The best webhosting Starting at per month</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
      ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
      facilisis.
    </p>
  </header>
  <div class="input-group input--search">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent btn--search">
      <svg class="icon icon--accent">
        <use xlink:href="/images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block--domain__prices">
    <li class="list__item">
      <span>.com $9.26</span>
    </li>
    <li class="list__item">
      <span class="badge badge--secondary">.sg $7.91</span>
    </li>
    <li class="list__item">
      <span class="">.space $12.98</span>
    </li>
    <li class="list__item">
      <span class="">.info $14.15</span>
    </li>
    <li class="list__item">
      <span class="">.net $16.15</span>
    </li>
    <li class="list__item">
      <span class="">.xyz $10.15</span>
    </li>
  </ul>
  <div class=""></div>
</section>
