<footer class="block block--dark footer">
  <div class="block__container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <li class="list footer__list">
          <ul class="list__item">
            <a href="#">WordPress</a>
          </ul>
          <ul class="list__item">
            <a href="#">Free Automated WordPress</a>
          </ul>
          <ul class="list__item">
            <a href="#">Migrations</a>
          </ul>
          <ul class="list__item">
            <a href="#">Domain Names</a>
          </ul>
          <ul class="list__item">
            <a href="#">Monthly Web Hosting</a>
          </ul>
        </li>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <li class="list footer__list">
          <ul class="list__item">
            <a href="#"> About</a>
          </ul>
          <ul class="list__item">
            <a href="#"> Affiliates</a>
          </ul>
          <ul class="list__item">
            <a href="#"> Blog</a>
          </ul>
        </li>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <li class="list footer__list">
          <ul class="list__item">
            <a href="#"> Contact</a>
          </ul>
          <ul class="list__item">
            <a href="#"> Knowledge Base</a>
          </ul>
          <ul class="list__item">
            <a href="#"> FAQ</a>
          </ul>
        </li>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <li class="list footer__list">
          <ul class="list__item">
            <a href="#"> Domain Checker</a>
          </ul>
          <ul class="list__item">
            <a href="#"> Domain Transfer</a>
          </ul>
          <ul class="list__item">
            <a href="#"> Free Domain</a>
          </ul>
        </li>
      </div>
    </section>
    <section class="footer__brand">
      <img class="footer__logo" src="/images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright © 2020 mosh</p>
    </section>
  </div>
</footer>
